body {
	font-family: "Courier New", monospace;
	font-size: 14px;

	// Don't worry so much iOS, it's just a simple page...
	-webkit-text-size-adjust: none;
}

.header {
	position: fixed;
	left: 0px;
	top: 0px;
	display: inline-block;
	padding: 10px;
}

.status {
	position: fixed;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	opacity: 0.2;
	pointer-events: none;
}

#particleCanvasBuffer {
	display: none;
}

a {
	color: rgb(200, 0, 0);
}

#click-hint {
	opacity: 0;
	transition: opacity 1s ease-in;
	pointer-events: none;
	display: inline-block;
}

.pulsing {
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-name: pulse;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	10% {
		transform: scale(1.2);
	}

	20%, 100% {
		transform: scale(1);
	}
}
